@import "tailwindcss";

/* Define master colors using CSS custom properties on :root */
:root {
	--base-red:#ff0000;
}

/* Optional: some base styles to see it working */
@layer base {
	html, body { height: 100%; }
}
